@charset "UTF-8";
/* CSS Document */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    width: 200px;
  }
  
  .clock {
    font-size: 2em;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto;
  }
  
  .search input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .search button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #3e4772;
    color: #fff;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    gap:100px;
  }
  
  nav li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
  }
  
  nav a {
    color: #C0C0C0;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  footer {
    background-color: #3e4772;
    color: #C0C0C0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 50px;
  }
  .clock {
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color:#3e4772;
  }
